a
    {
    color: black;
    text-decoration: none;
    list-style: none;
    
    }

body
    {
    background-color: #FCE09B;
    }

.header
    {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 5em;
    background-color: #186f65;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 10px 20px 0 rgb(0, 0, 0)
    }

.links
    {
    padding-top: 6.5%;
    padding-bottom: 6.5%;
    padding-left: 35%;
    padding-right: 35%;
    }

.botones
    {
    
    display: flex;
    font-family: Onest;
    font-weight: bold;
    background-color: #B5CB99;
    width: 10%;
    height: 40%;
    justify-content: center;
    align-items: center;
    transition: 0.5s, erase;
    border-radius: 0.5em;
    padding: 0.3%;
    }

.botones:hover
    {
    box-shadow: 0 10px 20px 0 rgb(0, 0, 0);
    border-radius: 3em;
    transition: 0.5s, erase;
    }

.titulo
    {
    position: inherit;
    font-family: Onest;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B5CB99;
    left: 0;
 
    }

#body
    {
    background-image: url(IMG/perucho.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    
    }


.infor2
    {
    margin-top: 5.5%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    }


.img1
    {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Onest;
    font-weight: bold;
    }

.img2
    {
    font-family: Onest;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    }

#fotoB
    {
    
    border-radius: 50em;
    display: block;
    transition: ease 0.5s;
    }

#fotoB:hover
    {
    transform: scale(1.2);
    transition: ease 0.5s;
    }

#fotoL
    {
    margin-left: 28%;
    width: 44%;
    border-radius: 100em;
    display: block;
    transition: ease 0.5s;
    }

#fotoL:hover
    {
    transform: scale(1.2);
    transition: ease 0.5s;
    }

.Infor1
    {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 35em;
    }

.txt1
    {
    padding-left: 10%;
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #FCE09B;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Onest;
    font-weight: bold;
    border-radius: 3em;
    font-size: 150%;
    box-sizing:border-box;
    box-shadow: 0 10px 20px 0 rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    }


.infor4y5
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Onest;
    font-weight: bold;
    }

.InfoProy
    {
    display: flex;
    padding: 1%;
    }

.TxtProy
    {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    
    
    }

.ObjG
    {
    font-family: Onest;
    font-weight:bolder;
    font-size: 150%;
    }

.areanat
    {
    font-family: Onest;
    font-weight:bold;
    margin-bottom: 5%;
    font-size: 130%;
    }

.x3li
    {
    font-family: Onest;
    font-weight:bold;
    margin-bottom: 5%;
    font-size: 130%;
    }

li::marker
    {
    color: #f2c963;
    }

.AREA
    {
    font-family: Onest;
    font-weight:bolder;
    font-size: 120%;
    margin-bottom: 3%;
    }

.Loc
    {
    font-family: Onest;
    font-weight:bold;
    font-size: 110%;
    }

#Peru
    {
    width: 40%;
    height: 30%;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 2em;
    }

.footer
    {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    }

@media (max-width:600px) 
{
    .header 
        {
        flex-direction: column;
        height: auto;
        text-align: center;
        }
    
    .txt1
        {
        width: 60%;
        height: auto;
        padding: 8%;
        }
    
    .links 
        {
        padding: 10px;
        }    

    .botones 
        {
        width: 30%;
        margin: 10px;
        }

    .titulo 
        {
        margin-top: 59%;
        }

    .Infor1
        {
        
        padding: 0%;
        }

    .infor2 
        {
        flex-direction: column;
        margin-top: 10%;
        }

    #img1
        {
        margin-top: 50%;
        }

    .img1
        {
        width: 80%;
        margin-bottom: 20px;
        }

    #body
        {
        margin-top: 20%;
        justify-content: center;
        align-items: center;
        background-image: url(IMG/perucho.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        }

    #fotoL 
        {
        margin-left: 28%;
        }

    .Infor1 
        {
        height: auto;
        }
    
    .txt1 
        {
        width: 90%;
        margin: 10px auto;
        font-size: 120%;
        }
    
    .infor4y5 
        {
        margin-top: 20px;
        }

    
}